
.form{

    @include flex(flex, aspace-around, center, wrap, "100%", column);
    margin:5%;
    
    &__title{
        font-size: 40px;
        margin-bottom: 50px;
    }

    &__button{
        padding: 10px 30px;
        color: white;
        border: 0px;
        background-color: $secondary;
        &:hover{
            background-color: $secondary-hover;
            cursor: pointer;
        }
    }

    &__input{
        padding: 50px;
        padding: 10px 30px;
        background-color: rgb(235, 235, 235);
        border-radius: 0;
        border-style: none;
        border: none;

        
       
    }

}