.header {
    margin: 20px 0 50px 0  ;
  max-width: 2000px;
  @include flex(flex, space-around, center, wrap, 100%, row);

  &__list {
    @include flex(flex, "", "", "", "", row);
    list-style: none;
    text-decoration: none;
    a {
      text-decoration: none;
      padding: 0 20px;
      color: black;
      &:hover {
        color: black;
      }
    }
  }
}
