$primary: #00b0ff;
$secondary: #1a237e;
$secondary-hover: #0a104e;
$dark: #0081cb;

@mixin flex ($display, $justify-c, $align, $wrap, $width, $direcction) {
display: $display;
justify-content: $justify-c;
align-items: $align;
flex-wrap: $wrap;
width: $width;
flex-direction: $direcction ;
}