.banner {
  margin: 50px 0;
  width: 60%;
  height: 100%;


  &__relative {
    background-image: url(https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
    background-position: center-left;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   

   
  }

  &__title {
    color: white;
    padding: 10px 80px;
    background-color: $secondary;
    text-align: center;
  }


}
