
<%- layout('/layouts/main') %>
 
<div class="form">
  <h1 class="form__title">You already have an account, log in</h1> 
<form method="POST" action="/login">
  <div class="form__group">
    <input  class="form__input" type="email" placeholder="Insert email" name="email" id="email" required>
    <input class="form__input"
      type="password"
      placeholder="Insert password"
      name="password"
      id="password" require 
      required>
    <button class="form__button">LOGIN</button>
  </form>
  </div>

</div>