<%- layout('/layouts/main') %>

<div class="container">
    <div class="avatar-flip">
      <img src="http://media.idownloadblog.com/wp-content/uploads/2012/04/Phil-Schiller-headshot-e1362692403868.jpg" height="150" width="150">
      <img src="http://media.idownloadblog.com/wp-content/uploads/2012/04/Phil-Schiller-headshot-e1362692403868.jpg" height="150" width="150">
    </div>
    <h3>id: <%=user._id%></h3>
    <h3>email: <%=user.email%></h3>
    <p>Bcrypt: <%=user.password%></p>
  </div>