
<%- layout('/layouts/main') %>
<div class="form">
  <h1 class="form__title">Join our app</h1> 

<form method="POST" action="/signup">
  <div class="form__group">
  <input  class="form__input" type="email" placeholder="insert email" name="email" id="email" required >
  <input  class="form__input"
    type="password"
    placeholder="insert password"
    name="password"
    id="password"
    required>
  <button  class="form__button">ENROLL</button>
</div>
</form>

</div>
