@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
.header {
  margin: 20px 0 50px 0;
  max-width: 2000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}
.header__list {
  display: flex;
  justify-content: "";
  align-items: "";
  flex-wrap: "";
  width: "";
  flex-direction: row;
  list-style: none;
  text-decoration: none;
}
.header__list a {
  text-decoration: none;
  padding: 0 20px;
  color: black;
}
.header__list a:hover {
  color: black;
}

.form {
  display: flex;
  justify-content: aspace-around;
  align-items: center;
  flex-wrap: wrap;
  width: "100%";
  flex-direction: column;
  margin: 5%;
}
.form__title {
  font-size: 40px;
  margin-bottom: 50px;
}
.form__button {
  padding: 10px 30px;
  color: white;
  border: 0px;
  background-color: #1a237e;
}
.form__button:hover {
  background-color: #0a104e;
  cursor: pointer;
}
.form__input {
  padding: 50px;
  padding: 10px 30px;
  background-color: #ebebeb;
  border-radius: 0;
  border-style: none;
  border: none;
}

.alerts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: "100%";
  flex-direction: column;
  font-size: 20px;
  color: red;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.banner {
  margin: 50px 0;
  width: 60%;
  height: 100%;
}
.banner__relative {
  background-image: url(https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
  background-position: center-left;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner__title {
  color: white;
  padding: 10px 80px;
  background-color: #1a237e;
  text-align: center;
}

.container {
  width: 60% px;
  margin: 120px auto 120px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  text-align: center;
}

.container:hover .avatar-flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.container:hover .avatar-flip img:first-child {
  opacity: 0;
}

.container:hover .avatar-flip img:last-child {
  opacity: 1;
}

.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}

.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.avatar-flip img:first-child {
  z-index: 1;
}

.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 15px;
  color: #333;
}

h4 {
  font-size: 13px;
  color: #00baff;
  letter-spacing: 1px;
  margin: 25px;
}

p {
  font-size: 16px;
  line-height: 26px;
  margin: 20px;
  color: #666;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: "100%";
  flex-direction: column;
}

.hide {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
