@import './partials/variales';
@import './partials/header';
@import './partials/forms';
@import './partials/alerts';
@import './partials/banner';
@import './partials/profile';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    @include flex(flex, center, center, wrap, "100%", column);
}

.hide{
    display: none;
}

