<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>NODEJS LOGIN</title>
  </head>
  <body>

<header class="header"><a href="/"> 
<img width="200px" src="/img/abbvie-logo.svg" class="header__logo"> </a>


<ul class="header__list">
  
  <% if(!user){ %>
    <li><a href="/signup"> Sign up</a></li>
    <li><a href="/login"> Login</a></li>
  <% } else if (user){ %>  
    <li><a href="/profile">Profile</a> </li>
    <li><a href="/close-session"> Exit</a></li>
 <% } %>

</ul>
</header>

    <%- body %>

    <div class="alerts">
      <% if (signupMessage) { %>
      <div><%=signupMessage %></div>
      <% } %> <% if (loginMessage) { %>
      <div><%=loginMessage %></div>
      <% } %>
    </div>
  </body>
</html>
